

//intégration des variables
@import "./utils/variables";


//intégration des mixin
@import "./utils/mixin";


//intégration des components 
// le loader 
@import "./components/loader";

// le bouton avec dégradé
@import "./components/btn-gradient";


//intégration des layouts
//le header 
@import "./layouts/header";

//le footer
@import "./layouts/footer";


//intégration des pages
// page d'accueil
@import"./pages/page-index";

// menu resto
@import "./pages/menu-resto";

body {
    margin: 0 auto;
}
* {
    box-sizing:border-box;
    // vérifier que c'est correct
}

#bloc_page {
    position: absolute;
    width: 100%;
    @include couleur-fond;    
}




    







