.loader {
  position: absolute;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(175deg, #FF79DA, #9356DC 80%);
  animation: fading 1.5s 3.7s forwards;
}

@keyframes fading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
.text-logo {
  font-family: shrikhand;
  width: 270px;
  font-size: 3em;
  display: flex;
  flex-direction: row;
}

@keyframes apparition-logo {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  99.9% {
    opacity: 0;
    transform: translateX(300px);
  }
  100% {
    opacity: 0;
    transform: translateX(0px);
  }
}
.text-logo span:nth-child(1) {
  animation: apparition-logo 3s 0.7s both ease-in-out;
}

.text-logo span:nth-child(2) {
  animation: apparition-logo 3s 0.6s both ease-in-out;
}

.text-logo span:nth-child(3) {
  animation: apparition-logo 3s 0.5s both ease-in-out;
}

.text-logo span:nth-child(4) {
  animation: apparition-logo 3s 0.4s both ease-in-out;
}

.text-logo span:nth-child(5) {
  animation: apparition-logo 3s 0.3s both ease-in-out;
}

.text-logo span:nth-child(6) {
  animation: apparition-logo 3s 0.2s both ease-in-out;
}

.text-logo span:nth-child(7) {
  animation: apparition-logo 3s 0.1s both ease-in-out;
}

.text-logo span:nth-child(8) {
  animation: apparition-logo 3s 0s both ease-in-out;
}

.page_index {
  animation: apparition-bloc_page 1ms 3.7s both;
}

@keyframes apparition-bloc_page {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.btn-gradient {
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  margin: 25px 0;
  padding: 15px 20px;
  min-width: 185px;
  border-radius: 25px;
  color: white;
  font-family: roboto;
  font-size: 1em;
  background: linear-gradient(175deg, #FF79DA, #9356DC 80%);
  box-shadow: 0px 2px 2px 2px #e8e8e8;
}
.btn-gradient:hover {
  box-shadow: 0px 2px 5px 5px #e8e8e8;
}

header {
  display: flex;
  height: 65px;
  justify-content: center;
  align-items: center;
  background-color: white;
}
header .header__logo {
  width: 165px;
}
header .header__logo img {
  width: 100%;
}
header .header__arrow {
  font-size: 1.1em;
  color: black;
  position: relative;
  right: 240px;
}

footer {
  height: 200px;
  background-color: #333333;
  padding: 25px;
}
footer .footer__logo {
  width: 100px;
}
footer .footer__logo img {
  width: 100%;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(103%) contrast(101%);
}
footer .footer__list {
  list-style-type: none;
  padding-left: 0;
  margin: 20px 0;
  color: white;
  font-family: roboto;
  font-weight: 300;
  font-size: 1em;
}
@media (min-width: 800px) {
  footer .footer__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-right: 150px;
  }
}
footer .footer__list--bold {
  display: flex;
  font-weight: 500;
}
footer .footer__list--bold :nth-child(2) {
  /*color: green;*/
  position: relative;
  left: 10px;
}
footer .footer__list--bold .icon {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  width: 15px;
}
footer .footer__list li {
  margin: 10px 0;
}
footer .footer__list li a {
  text-decoration: none;
  color: white;
}

.bordure {
  height: 5px;
  background: linear-gradient(#999999, #e8e8e8);
}

.placeholder {
  height: 50Px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;
}
.placeholder__search {
  display: flex;
  align-items: center;
  font-size: 1em;
  width: 165px;
}
.placeholder .where {
  font-family: roboto;
  font-size: 1em;
  background-color: transparent;
  border: none;
  margin-left: 15px;
  color: black;
}
.placeholder .where::placeholder {
  color: black;
  opacity: 1;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 10px;
  font-family: roboto;
}
.intro h1 {
  width: 70%;
  text-align: center;
  font-size: 1.5em;
  margin: 15px 0;
}
.intro p {
  width: 90%;
  margin: 5px 0;
  margin: 0;
  text-align: center;
  font-size: 1.1em;
  font-weight: 300;
}

.fonct {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 60px;
  font-family: roboto;
  background-color: white;
}
.fonct h1 {
  font-size: 1.5em;
  margin: 30px 0px;
}
.fonct ol {
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  counter-reset: my-awesome-counter;
  list-style: none;
}
@media (min-width: 800px) {
  .fonct ol {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-bottom: 20px;
  }
}
.fonct ol li {
  height: 75px;
  width: 85vw;
  min-width: 320px;
  max-width: 380px;
  cursor: pointer;
  display: flex;
  align-items: center;
  counter-increment: my-awesome-counter;
  border-radius: 25px;
  margin: 10px 0;
  background-color: whitesmoke;
  box-shadow: 0px 2px 2px 2px #e8e8e8;
}
@media (min-width: 800px) {
  .fonct ol li {
    min-width: 240px;
    max-width: 300px;
    width: 30vw;
    padding-right: 20px;
  }
}
.fonct ol li:hover {
  box-shadow: 0px 2px 5px 5px #e8e8e8;
}
.fonct ol li::before {
  content: counter(my-awesome-counter);
  color: white;
  font-size: 0.9em;
  background-color: #9356DC;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  right: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.fonct ol li :nth-child(1) {
  color: #999999;
  margin: 0 15px;
  font-size: 1.1em;
  width: 20px;
}
.fonct ol li:hover {
  background-color: #f2eafb;
}
.fonct ol li:hover > .puce {
  color: #9356DC;
}

.resto {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: roboto;
}
.resto h1 {
  font-size: 1.5em;
  margin: 30px 0px;
}
.resto__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}
@media (min-width: 800px) {
  .resto__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.resto__card {
  display: flex;
  flex-direction: column;
  position: relative;
  text-decoration: none;
  background-color: white;
  color: black;
  width: 90vw;
  height: 65vw;
  min-width: 335px;
  min-height: 250px;
  max-width: 550px;
  max-height: 410px;
  border-radius: 25px;
  margin-bottom: 15px;
  box-shadow: 0px 2px 2px 2px #e8e8e8;
}
@media (min-width: 800px) {
  .resto__card {
    width: 40vw;
    height: 30vw;
  }
}
.resto__card:hover {
  box-shadow: 0px 2px 5px 5px #e8e8e8;
}
.resto__card__img {
  height: calc(100% - 78px);
}
.resto__card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.resto__card__description {
  padding: 10px;
  height: 78px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.resto__card__description__name {
  font-size: 1.1em;
  font-weight: 700;
}
.resto__card__description__place {
  font-size: 1.1em;
  font-weight: 300;
}
.resto__card__heart {
  font-size: 1.5em;
  position: absolute;
  bottom: 30px;
  right: 25px;
}
.resto__card__new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 15px;
  height: 28px;
  width: 78px;
  border-radius: 2px;
  font-size: 0.9em;
  font-weight: 700;
  color: #278870;
  background-color: #99E2D0;
}

.photo-menu {
  height: 260px;
  width: 100%;
}
.photo-menu img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bigmenu {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 50px;
  background-color: whitesmoke;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 20px;
}
.bigmenu__title {
  display: flex;
  flex-direction: row;
  font-family: shrikhand;
  font-size: 1.1em;
  margin: 15px 0;
  justify-content: space-between;
}
.bigmenu__title H1 {
  margin: 0;
  padding: 0;
}
.bigmenu__title__heart {
  font-size: 1.5em;
}
.bigmenu .menu {
  display: flex;
  flex-direction: column;
}
@media (min-width: 800px) {
  .bigmenu .menu {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.bigmenu .menu__bloc {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  font-family: roboto;
}
.bigmenu .menu__bloc H2 {
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  height: 30px;
  margin: 5px 0;
}
.bigmenu .menu__bloc__choix {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bigmenu .menu__bloc__choix__btn {
  display: flex;
  position: relative;
  width: 85vw;
  min-width: 350px;
  max-width: 420px;
  height: 70px;
  margin: 7px 0;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0px 2px 2px 2px #e8e8e8;
}
@media (min-width: 800px) {
  .bigmenu .menu__bloc__choix__btn {
    width: 30vw;
  }
}
.bigmenu .menu__bloc__choix__btn:hover {
  box-shadow: 0px 2px 5px 5px #e8e8e8;
}
.bigmenu .menu__bloc__choix__btn__description {
  display: flex;
  margin: 15px;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  transition: width 0.4s 0.1s ease-in-out;
}
.bigmenu .menu__bloc__choix__btn__description__1 {
  font-weight: 500;
  font-size: 1.1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bigmenu .menu__bloc__choix__btn__description__2 {
  font-weight: 300;
  font-size: 0.9em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bigmenu .menu__bloc__choix__btn__price {
  position: absolute;
  right: 20px;
  margin-bottom: 15px;
  bottom: 0;
  font-weight: 700;
  font-size: 1em;
  transition: transform 0.4s 0.1s ease-in-out;
}
.bigmenu .menu__bloc__choix__btn__check {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -55px;
  background-color: #99E2D0;
  color: white;
  font-size: 1.5em;
  width: 55px;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: transform 0.5s ease-in-out;
}
.bigmenu .menu__bloc__choix__btn:hover > .menu__bloc__choix__btn__price {
  transform: translateX(-55px);
}
.bigmenu .menu__bloc__choix__btn:hover > .menu__bloc__choix__btn__check {
  transform: translateX(-55px);
}
.bigmenu .menu__bloc__choix__btn .check {
  transition: transform 0.25s 0.25s;
}
.bigmenu .menu__bloc__choix__btn:hover .check {
  transform: rotate(360deg);
}
.bigmenu .menu__bloc__choix__btn:hover > .menu__bloc__choix__btn__description {
  width: 230px;
}
.bigmenu .order {
  display: flex;
  justify-content: center;
}

.menu .menu__bloc:nth-child(1) {
  opacity: 0;
  animation: apparition-plat 0.3s 1s forwards;
}
.menu .menu__bloc:nth-child(1) .menu__bloc__choix__btn:nth-child(1) {
  opacity: 0;
  animation: apparition-plat 0.3s 1.25s forwards;
}
.menu .menu__bloc:nth-child(1) .menu__bloc__choix__btn:nth-child(2) {
  opacity: 0;
  animation: apparition-plat 0.3s 1.5s forwards;
}
.menu .menu__bloc:nth-child(1) .menu__bloc__choix__btn:nth-child(3) {
  opacity: 0;
  animation: apparition-plat 0.3s 1.75s forwards;
}
.menu .menu__bloc:nth-child(1) .menu__bloc__choix__btn:nth-child(4) {
  opacity: 0;
  animation: apparition-plat 0.3s 2s forwards;
}
.menu .menu__bloc:nth-child(2) {
  opacity: 0;
  animation: apparition-plat 0.3s 2s forwards;
}
.menu .menu__bloc:nth-child(2) .menu__bloc__choix__btn:nth-child(1) {
  opacity: 0;
  animation: apparition-plat 0.3s 2.25s forwards;
}
.menu .menu__bloc:nth-child(2) .menu__bloc__choix__btn:nth-child(2) {
  opacity: 0;
  animation: apparition-plat 0.3s 2.5s forwards;
}
.menu .menu__bloc:nth-child(2) .menu__bloc__choix__btn:nth-child(3) {
  opacity: 0;
  animation: apparition-plat 0.3s 2.75s forwards;
}
.menu .menu__bloc:nth-child(2) .menu__bloc__choix__btn:nth-child(4) {
  opacity: 0;
  animation: apparition-plat 0.3s 3s forwards;
}
.menu .menu__bloc:nth-child(3) {
  opacity: 0;
  animation: apparition-plat 0.3s 3s forwards;
}
.menu .menu__bloc:nth-child(3) .menu__bloc__choix__btn:nth-child(1) {
  opacity: 0;
  animation: apparition-plat 0.3s 3.25s forwards;
}
.menu .menu__bloc:nth-child(3) .menu__bloc__choix__btn:nth-child(2) {
  opacity: 0;
  animation: apparition-plat 0.3s 3.5s forwards;
}
.menu .menu__bloc:nth-child(3) .menu__bloc__choix__btn:nth-child(3) {
  opacity: 0;
  animation: apparition-plat 0.3s 3.75s forwards;
}
.menu .menu__bloc:nth-child(3) .menu__bloc__choix__btn:nth-child(4) {
  opacity: 0;
  animation: apparition-plat 0.3s 4s forwards;
}

@keyframes apparition-plat {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
body {
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

#bloc_page {
  position: absolute;
  width: 100%;
  background-color: whitesmoke;
}

.heart--gradient {
  -webkit-text-stroke: 1px white;
  cursor: pointer;
  transition: 0s 0.28s;
  color: black;
}

.heart--gradient--full {
  position: relative;
  top: 0px;
  left: -55%;
  background: linear-gradient(175deg, #FF79DA, #9356DC 80%);
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke: 0px white;
  opacity: 0;
  transform: scale(0);
  transform-origin: 50% 90%;
  transition: 0.3s ease-in-out;
}

.heart--gradient:hover > .heart--gradient--full {
  transform: scale(1);
  opacity: 1;
}

.heart--gradient:hover {
  color: white;
}

/*# sourceMappingURL=ohmyfood-style.css.map */
